* {
    text-align: center;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.header img {
    max-height: 100%;
    max-width: 100%;
}

.sign-up-to {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.616);
    margin: 10px 0px 20px;
}

form input{
    text-align: left;
    font-size: 100%;
    padding: 12px 50px 12px 12px;
}

form div {
    margin: 0 0 10px;
}

button[type="submit"] {
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(31, 39, 66);
    color: white;
    padding: 7px 97px;
    margin-top: 10px;
}